

body
{
    background-color: #18191f;
}
#WaterMark 
{
    color: rgba(255, 255, 255, .25);
    position: absolute;
    top: 95%;
    border: #18191f;
    text-shadow: 1px 1px 5px white;
    -webkit-text-stroke: .5px rgb(121, 120, 120);
}

