body
{
    background-image: url(../Images/93a777af216ae409b7d0464d21b14c07.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

#test 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
